body {
    background-color: black;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
    color: deepskyblue;
}

.object {
    background-color: #373737;
    position: relative;
    left: 0px;
    width: calc(100% - 32px);
    padding: 16px;
    display: block;
    overflow-wrap: break-word;
}

.online-icon {
    background-color: #82ff36;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    display: inline-block;
    user-select: none;
    position: absolute;
    top: 50%;
    transform: translate(50%, -50%);
}

.offline-icon {
    background-color: #bd0036;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    display: inline-block;
    user-select: none;
    position: absolute;
    top: 50%;
    transform: translate(50%, -50%);
}

.manage-vm {
    position: absolute;
    right: 16px;
    text-decoration: none;
}

.add-vm {
    position: fixed;
    bottom: 16px;
    right: 16px;
    padding: 16px;
    height: 16px;
    width: 16px;
    background-color: #373737;
    color: #82ff36;
    border-radius: 50%;
    text-decoration: none;
}

.add-vm-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.arrow {
    color: white;
    padding-left: 4px;
    padding-right: 4px;
    background-color: #059def;
    text-decoration: none;
    font-weight: bolder;
    font-size: large;
}

.logged-in-as {
    position: fixed;
    top: 16px;
    right: 16px;
    z-index: 1000;
    text-decoration: none;
}

.apis-notice {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    top: 0;
}

code {
    background: #373737;
}

pre {
    border: 16px solid #373737;
    background: black;
    display: block;
    width: calc(100% - 32px);
}

.vmsetlink {
    text-decoration: none;
    color: white;
}

.hideWithoutHover {
    background: #373737;
    color: #373737;
}

.hideWithoutHover:hover {
    color: white;
}

.termWidth {
    width: 736px;
}

.likeComment {
    color: #6ea158;
}

.isTerminal {
    height: 432px;
    width: 736px;
    background: black;
    color: white;
    border: none;
    font-family: courier-new, courier, monospace;
    font-size: 15px;
    word-break: break-all;
    overflow-y: scroll;
    overflow-x: hidden;
    white-space: pre;
}